:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  /* overflow: hidden; */
  background-color: #fafafa;
  font-size: 1.6rem;
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  border-bottom: 0.15rem solid #E5E5E5;
}

.header h1 {
  font-weight: 700;
  font-size: 2.4rem;
 
}

.header h1 {
  font-size: 2.4rem;
}

.header input {
  background: #F0EFEF;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
  padding: 1.2rem;

  font-weight: 500;
  font-size: 1.2rem;

  color: #AAAAAA;
}

.aside {
  grid-area: aside;
  min-width: 25rem;
  border-right: 0.15rem solid #E5E5E5;
}

.aside menu {
  list-style: none;
  padding: 0 2.4rem;
  margin-top: 4rem;
}

.aside li {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1.6rem ;
  margin-bottom: 1.6rem;
  color: #929292;
  cursor: pointer;
  transition: .2s;
}

.aside li:hover {
  -webkit-box-shadow: -8px 17px 70px -21px rgba(37,37,37,0.46);
  -moz-box-shadow: -8px 17px 70px -21px rgba(37,37,37,0.46);
  box-shadow: -8px 17px 70px -21px rgba(37,37,37,0.46);
}

.aside .active {
  color: #EEE7E7;
  background: #2159C5;
}


.inputs {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
}

.inputs button {
  margin-left: 8rem;
  background: #57F179;
  border-radius: 4px;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
